body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-flow: wrap;
  border: solid;
}

.square {
  border: solid;
  box-sizing: border-box;
}